/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .menu {
    left: 15px;
    top: 180px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .menu {
    left: 360px;
    top: 180px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .menu {
    left: 360px;
    top: 180px;
  }
} 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .menu {
    left: 360px;
    top: 180px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   .menu {
    left: 360px;
    top: 180px;
  }
}
.overlay-on {
  display: block;
}
.overlay_menu{
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(0, 0, 0, 0.685);
z-index: 8;
}
.gallery_selected{  
  position: relative;
  height: 290px;
  top: 300px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 20px;
  text-align: center;
  margin: 30px;
  margin-top: 10px;
  z-index:25;
  background: white;
}
.option_menu{
  background-color: black;
  padding: 8px 8px;
  margin-bottom: 2px;
  border-radius: 10px;
}
.menu{
  list-style-type: none;
  z-index: 15;
  color: white;
  font-size: 13px; 
  position: absolute;
}
.menu_on {
  display: block;
}
.menu_off{
  display: none;
}
a{
  text-decoration: none;
  color: white;
  font-family: "Nunito";
}
li{
  display: flex;
  width: 200px;
}
.fa-trash {
  padding-right: 3px;
}
.fa-info{
  padding-right: 3px;
}