*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bcg{
    height: 300px;
    background-image: url("obrazky/background.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    top: 0px;
    left: 0px;
    filter: blur(5px) brightness(70%);
    position: absolute;
}
.grid-container{
    display: grid;
    justify-content: center;
    gap:30px 30px;
    margin-top: 50px;
}
.img-gallery{
    height: 250px;
    width: 350px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative; 

}
.text-block {
    position: absolute;
    top:150px;
    left:250px;
    color: white;
    padding: 5px;  
    font-size: 20px;
    font-family: "Nunito";
}
.plus {
    height: 250px;
    width: 350px; 
    font-size: 100px;
    top: 300px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 30px;
}
.gallery{  
    position: relative;
    height: 290px;
    top: 300px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 20px;
    text-align: center;
    margin: 30px;
    margin-top: 10px;  

}
.images{  
  position: relative;
  height: 290px;
  top: 300px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 20px;
  text-align: center;
  margin: 30px;
  margin-top: 10px;  
}
.gallery-hover-efect{

  transition: top 0.3s ease-in-out;

}
.gallery-hover-efect :hover{
  transform: scale(1,1.1);
}
.gallery-name{
    padding-top: 5px;
    font-family: "Nunito";
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .grid-container{
          grid-template-columns: auto ;
        }  
    .text-block {
        font-size: 10px;
        left: 100px;
    }  
    .modal{
        width: 350px;
      }
    .center{
          position: absolute;
          left: 10%;
          top:2130px; 
      }
    .center-add-img{
        position: absolute;
        left: 5%;
        top:1300px; 
    }
    .gallery-container{
        grid-template-columns: auto ;
      }
    .add-image-modal{
        width: 400px;
      }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .grid-container{
          grid-template-columns: auto ;
      }
    .text-block {
        font-size: 14px;
        left: 100px;
    }
    .modal{
        width: 450px;
      }
    .center{
        position: absolute;
        left:20%;
        top:2130px;  
    }
    .center-add-img{
      position: absolute;
      left: 15%;
      top: 1250px; 
  }
    .gallery-container{
        grid-template-columns: auto ;
      }
      .add-image-modal{
        width: 450px;
      }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .grid-container{
          grid-template-columns: auto auto ;
      }
    .text-block {
        font-size: 16px;
        left: 150px;
      }
    .modal{
        width: 600px;
      }
    .center{
        margin: 0;
        position: absolute;
        top: 75%;
        left: 50%;   
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius:  5px;
    }
    .center-add-img{
      margin: 0;
      position: absolute;
      top: 75%;
      left: 50%;   
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      border-radius:  5px;
  }
    .gallery-container{
        grid-template-columns: auto auto;
      }
      .add-image-modal{
        width: 600px;
      }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .grid-container{
          grid-template-columns: auto auto ;
      }
      .text-block {
        font-size: 18px;
        left: 200px;
      }
      .gallery-container{
        grid-template-columns: auto auto;
      }
      .modal{
        width: 700px;

      }
      .add-image-modal{
        width: 700px;
      }
  } 
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
      .grid-container{
          grid-template-columns: auto auto auto;
      }
      .gallery-container{
        grid-template-columns: auto auto auto;
      }
      .text-block {
        font-size: 20px;
        left: 250px;
      }
      .modal{
      width: 700px;
    }
    .add-image-modal{
      width: 700px;
    }
  } 
  
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
  }
.overlay-on {
      display: block;
  }
.overlay-off {
      display: none;
  }
.modal{
  height: 90px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: white;
  z-index: 5;
}
.add-image-modal{
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: white;
  z-index: 5;
}
.add-btn {
    float: right;
    background: darkblue;
    border-radius: 5px ;
    width: 70px;
    height: 30px;
    font-size: 15px;
    position: relative;
    top: 18px;
    left: 8px;
    color: white;
    font-family: "Nunito"; 
}
.add {
    position: relative;
    font-family: "Nunito";
    font-size: 20px;
    top: 15px;
    left: 15px;
    font-weight: bolder;
}
.input-gallery-name{
    border:0;
    position: relative;
    top: 22px;
    left: 15px;
    font-size: 18px;
    font-family: "Nunito";
}
input:focus { 
  outline: none;
}
hr{
  background: grey;
}
.hr-galleries {
    top: 25px;
    position:relative;
    left:13px ;
    max-width: 677px;   
}
.close {
  float: right;
  position: relative;
  bottom: 35px;
  margin-right: 5px;
  font-size: 30px;
  color: white;
  cursor: pointer;

}
.gallery-container{
  display: grid;
  justify-content: center;
  grid-gap:20px 10px;
  margin-top: 50px;
}
.img{
    position: relative;
    height: 250px;
    width: 350px;
    position: relative;
    border-radius: 5px;
    top: 300px;
    transition: 0.3s;
}
.img-top :hover{
  margin-top: -20px;
}
.plus-gallery {
  height: 250px;
  width: 350px; 
  font-size: 100px;
  top: 300px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
footer{
  height: 150px;
  width: 100%;
  position: relative;
  display: flex;
  top: 250px;
}
.text-addImg{
  position: relative;
  font-family: "Nunito";
  font-size: 20px;
  top: 15px;
  left: 15px;
  font-weight: bolder;
}
.drop-gallery{
  border: dotted grey;
  margin: 20px 10px;
  height: 300px;
}
.text-center{
  font-family: "Nunito";
  font-size: 15px;
  color: grey;
  position: relative;
  text-align: center;
  margin-bottom: 10px;
}
.image-upload-button{
  position: relative;
  background: darkblue;
  border-radius: 2px ;
  color: white;
  font-family: "Nunito"; 
  cursor: pointer;
  padding: 5px;
  left: 39%;
}
.img-btn{
  float: right;
  background: darkblue;
  border-radius: 5px ;
  width: 90px;
  height: 35px;
  font-size: 18px;
  position: relative;
  color: white;
  font-family: "Nunito"; 
  margin-right: 15px;
  bottom: 10px;
}
.fa-camera {
  font-size: 40px;
  padding-bottom: 5px;
  color: lightgray;
  position: relative;
  left: 47%;
  margin-top: 60px;
}
